.NewTodo {
    display:flex;
    margin-top: 1rem;
}

.NewTodo input{
    flex-grow:1;
	border:none;
	padding: 0.5rem 0.7rem;
    font-size: 1.3rem;
    border: 1px solid rgb(179, 172, 172);
    outline: none;
    transition: all 0.4s ease-in;
    border-radius: 2px;
    margin-bottom: 0.7rem;
    width: 350px;
}


.NewTodo input:hover{
    border: 1px solid black ;
}

.NewTodo button {
	padding:0 1.3rem;
	border:none;
	background:#008984;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	border:1px solid rgba(255,255,255,.3);
	margin-left:1rem;
	cursor:pointer;
	transition:background .2s ease-out;
    margin-bottom: 0.7rem;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.NewTodo button:hover{
    background-color: white;
    border:1px solid #008984;
    color: #008984;
}